* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container {
    width:800px;
    height: 300px;
    background-color: #ff7979;
    display: flex;
    flex-flow: row wrap;
/*    justify-content: space-between;*/
    align-items: flex-start;
    
}

.item {
    width:100px;
    height: 100px;
    background-color: blue;
    border:2px solid grey;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    color:white;
}

.i1 {
    order:1;align-self: center;
}

.i2 {
    order:2;
}

.i3 {
    order:3;
}

.i4 {
    order:4;
}















































