html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-color: $color-bg-1;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    border: none;
    cursor: pointer;
}

input{
    border: none;
    background-color: transparent;
}