.purchase {
    margin-top: 80px;
}

.purchase-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-text-box {
    width: 400px;
}

.purchase-title {
    font-size:40px;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.purchase-text {
    border-left: 3px solid #999;
    color: #999;
    padding: 5px 30px; 
}

.purchase-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600px;
    color: white;
    background-color: #ea625c;
    margin-top: 40px;
    padding: 14px 20px;
}

.purchase-btn:hover {
    background-color: #dd463e;
}









