* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    font-size:20px;
}

.container {
    height: 400px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.item-1 {
    background-color: #999;
    grid-column: 1/span 2;
    grid-row: 1/3;
}
.item-2 {
    background-color: #ff0404;
}
.item-3 {
    background-color: #49ff86;
}
.item-4 {
    background-color: #5e5cdb;
}




